/* ------------------------------------------ */
/* Sample ----------------------------------- */
/* ------------------------------------------ */

@use "../helpers" as *;
@use "../vendors" as *;

.block-sample {
  background: $color__off-white;
  padding: 50px 0;

  .grid-container {
    align-items: center;
  }

  a.link {
    position: relative;
    font-weight: bold;
    color: $color__black;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      right: -20px;
      top: 50%;
      @include arrow(down, $color: $color__black);
    }

    &:hover::after {
      right: -30px;
      transform: rotate(-90deg);
    }
  }
}
